.idea
.ipynb_checkpoints
**/*.conf
**/*.cands*
**/*.peaks
**/*.csv*
**/*.tar.gz
__pycache__
**/ISOTOPE.DAT
**/*.sqlite
**/*.sqlite-journal
**/cfm-predict
**/trained_models
.Rhistory
**/__pycache__
**/logs
slurm-*.out
**/profiling/ssvm_01.png
**/profiling/ssvm_02.png
**/profiling/ssvm_03.png
.github/UNUSED_workflows
_CASMI_DB
run_scripts/publication/*/debugging/
results_raw/**/conda_env_*.yml
results_raw/**/debug__*
run_scripts/development/bioinf_redo/logs_triton
run_scripts/development/bioinf_redo/profiling
run_scripts/comparison/massbank/debugging
*.egg-info
**/*.kate-swp
data/tools/cfmid4/pos/parameters.zip
data/tools/cfmid4/pos/model_config.txt
data/tools/cfmid4/neg/model_config.txt
data/tools/cfmid4/neg/parameters.zip
data/tools/cfmid4/pos/param_output*.log
data/tools/cfmid4/neg/param_output*.log
data/temp_files
